:host {
  height: 100%;

}

.c-currency {
  &__container {
    display: flex;
    flex-direction: column;
    width: calc(100% - 32px);
    min-width: calc(320px - 32px);
    max-width: calc(960px - 32px);
    justify-content: center;

    &__title {
      margin-bottom: 24px;
    }

    &__formFieldContainer {
      flex-basis: 100%;

      &__currencyContainer {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        &__baseCurrency, &__targetCurrency {
          max-width: 108px;
        }

        &__conversionArrowButton {
          height: 56px;
        }
      }

      &__baseAmountContainer {
        display: flex;
        flex-direction: column;
      }


    }

    &__displayContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      border-radius: 4px;
      padding: 16px;
      border: 1px solid #1976d2;
    }
  }
}

