
<div class="toolbar" role="banner">

  <span>Conversion Calculator</span>

  <div class="button-container">
    <a mat-button routerLink='/currency'>Currency Calculator</a>
    <a mat-button routerLink='/unit'>Unit Calculator</a>
  </div>

  <div class="hamburger-container">
    <button mat-button class="menu-button" (click)="isMenuOpen =!isMenuOpen">
      <mat-icon>{{ isMenuOpen ? 'menu_open' : 'menu' }}</mat-icon>
    </button>

    <div class="hamburger-details" [class.opened] ="isMenuOpen">
      <a mat-button routerLink='/currency'>Currency Calculator</a>
      <a mat-button routerLink='/unit'>Unit Calculator</a>
    </div>
  </div>
</div>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>


